html {
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans',  'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgba(0,0,0,0.87);
  margin: 0;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  counter-reset: company;
  // padding: 48px 12px 0;
  // padding: 34px 12px 0;
  // padding: 40px 12px 0;
  padding: 49px 12px 0;
  // position: relative;
  // top: -108px;

  // @include media("≥G") {
  //   padding-top: 31px;
  // }  

  @include media("≥W") {
    // padding: 87px 40px 0;
    padding: 91px 40px 0;
  }  

  @include media("≥X") {  
    padding-top: 87px;

    > div:not(.ro-Grid--rows), 
    > section {
      max-width: 1823px;
      margin: 0 auto;
    }
  }
}

a {
  &, &:focus, &:active {
    color: rgba(26, 13, 171, 0.87);
    text-decoration: none;
    outline: 0;
    border-bottom: 1px solid;

    @include media("≥X") {
      border-bottom: none;
    }  
  }

  &:hover {
    color: rgba(26, 13, 171, 1);
  }
}

// Scrolling state
.is-scrolling {
  // text-shadow: -0.09em 0 0 #F22613, 0.08em 0 0 #00FFFF;

  .ro-Work-company {
    opacity: 0.18;
  }
}

// Colors

// pinks: B2546E, #FF91AF
// yello: FFF9AA
// blues: 5D9EB2, 60B2CC

// pinks: B2546E, #FF91AF, FFAAC2
// greens: 42B250, 91FF9F