html {
  // Used because of the visual effect of the .ro-Visual and .ro-Circle elements that have partially offset positioning on some of the screen sizes 
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans',  'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgba(0,0,0,0.87);
  margin: 0;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  counter-reset: company;
  padding: 49px 12px 0;

  @include media("≥W") {
    padding: 91px 40px 0;
  }  

  @include media("≥X") {  
    padding-top: 87px;

    > div:not(.ro-Grid--rows), 
    > section {
      max-width: 1823px;
      margin: 0 auto;
    }
  }
}

a {
  &, &:focus, &:active {
    color: rgba(26, 13, 171, 0.87);
    text-decoration: none;
    outline: 0;
    border-bottom: 1px solid;

    @include media("≥X") {
      border-bottom: none;
    }  
  }

  &:hover {
    color: rgba(26, 13, 171, 1);
  }
}