.u-holder {
  // border-top: 1px solid rgba(0,0,0,0.87);
  position: relative;

  > .u-title {
    // visibility: hidden;
    // top: -11px;
    // top: -14px;
    padding-left: 2px;

    font-family: 'Playfair Display', sans-serif;
    letter-spacing: 0.07em;
    font-size: 20px;
    font-weight: 400;

    // top: -12px;
    top: -4px;

    background: transparent;
  }
}

.u-title {
  margin: 0;
  line-height: 1.3;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.03em;
  display: inline-block;
  position: relative;
  padding: 0 1px;
}

.u-2col {
  @include media("≥D") {  
    column-count: 2;
    column-gap: 30px;
  }
}

.u-nosplit {
  display: inline-block;
}


$padding: 16;

.u-width1 {
  width: 85px - $padding;
}

.u-width2 {
  width: 117px - $padding;
}

.u-width3 {
  width: 75px - $padding;
}

.u-width4 {
  width: 104px - $padding;
}

.u-width5 {
  width: 86px - $padding;
}

.u-width6 {
  width: 132px - $padding;
}

.u-width7 {
  width: 78px - $padding;
}

.u-width8 {
  width: 70px - $padding;
}

.u-width9 {
  width: 101px - $padding;
}