.ro-Tools-list {
  list-style: none;
  font-size: 12px;
  font-weight: 600;
  padding-left: 4px;
  padding-bottom: 23px;
  column-count: 3;
  margin: 12px 0 8px;

  @include media("≥D") {
    column-count: 4;
  }

  @include media("≥E") {
    column-count: 6;
  }

  @include media("≥G") {
    column-count: 8;
  }

  @include media("≥X") {
    margin-top: 26px;
    column-count: 15;
    // padding-bottom: 30px;
  }

  li {
    line-height: 2.4;
  }

  abbr {
    text-decoration: none;

    @include media("≥X") {
      &:after {
        content: attr(title);
      }

      span {
        display: none;
      }
    }
  }
}

.ro-Tools-emptyItem {
  display: none;

  @include media("≥X") {
    display: list-item;
  }

}