@keyframes moveInShapes {
  from { transform: translateY(0px); }
  to { transform: translateY(50px); }
}

.ro-Visual {
  padding-bottom: 20px;

  @include media("≥H") {
    z-index: -1;
    position: absolute;
    top: -40px;
    right: 0;
    bottom: 0;
    left: 0;
    animation: moveInShapes 2.4s;
    animation-fill-mode: forwards;
    padding-bottom: 0;

    [class^='ro-Visual-shape'] {
      // I'm using !important to override the libs inline styles
      position: absolute !important;
      border-radius: 50%;
    } 
  }

}

.ro-Visual-heading {
  @include media("≥H") {
    display: none;
  }
}

.ro-Visual-shape1 {
  @include media("≥H") {
    @include size(716px);
    left: auto !important;
    top: 10px !important;
    right: 224px !important;
    background:  #FF91AF;
    z-index: -2;
    filter: blur(2px);

  }
}

.ro-Visual-shapeBorder {
  @include media("≥H") {
    filter: hue-rotate(10deg);
  }
}

.ro-Visual-contact {
  padding-top: 1px;
  display: inline-block;

  &:before {
    content: attr(data-clipboard-text);
  }

  span {
    display: none;
  }

  @include media("≥H") {
    padding-top: 0;

    &:before {
      display: none;
    }

    span {
      display: inline;
    }  
  }
}

.ro-Visual-tooltip {
  display: none;

  @include media("≥H") {
    display: block;
  }
}