@keyframes moveInShapes {
  from { transform: translateY(0px); }
  to { transform: translateY(50px); }
}

.ro-Visual {
  padding-bottom: 20px;

  @include media("≥H") {
    // I'm using !important to override the libs inline styles
    top: -30px !important;
    left: 703px !important;
    @include size(716px);
    position: absolute;
    animation: moveInShapes 2.4s;
    animation-fill-mode: forwards;
    padding-bottom: 0;    

    [class^='ro-Visual-shape'] {
      position: absolute !important;
      border-radius: 50%;
    } 
  }

  @include media("≥W") {
    left: 963px !important;
  }

}

.ro-Visual-heading {
  @include media("≥H") {
    display: none;
  }
}

.ro-Visual-shape1 {
  @include media("≥H") {
    @include size(716px);
    left: 0 !important;
    top: 0 !important;
    background:  #FF91AF;
    z-index: -2;
    filter: blur(2px);

  }
}

.ro-Visual-shapeBorder {
  @include media("≥H") {
    filter: hue-rotate(10deg);
  }
}

.ro-Visual-contact {
  padding-top: 1px;
  display: inline-block;
  position: relative;

  &:before {
    content: attr(data-clipboard-text);
  }

  &:after {
    content: '';
    position: absolute;
    top: -100px;
    right: -100px;
    bottom: -100px;
    left: -100px;
    z-index: -1;
  }

  span {
    display: none;
  }

  @include media("≥H") {
    padding-top: 0;

    &:before {
      display: none;
    }

    span {
      display: inline;
    }  
  }
}

.ro-Visual-tooltip {
  display: none;

  @include media("≥H") {
    display: block;
  }
}

.ro-Circle {
  @include size(256px);
  position: absolute;
  // top: -30px !important;
  // left: 703px !important;
  top: 251px;
  right: 9px;
  z-index: -1;

  [class^='ro-Circle-shape'] {
    position: absolute !important;
    border-radius: 50%;
  } 

  @include media("≥H") {
    display: none;
  }
}

.ro-Circle-shape {
  @include size(256px);
  left: 0 !important;
  top: 0 !important;
  background:  #FF91AF;
  z-index: -2;
  filter: blur(2px);

}

.ro-Circle-shapeBorder {
  @include size(256px);
  filter: hue-rotate(10deg);
}

.ro-Circle--2 {
  @include size(236px);
  top: 407px;
  right: -35px;

  [class^='ro-Circle-shape'] {
    @include size(236px);
    background-color: #fdff91;
  }
}

.ro-Circle--3 {
  top: 571px;
  right: auto;
  left: 25px;

  [class^='ro-Circle-shape'] {
    background-color: #9391ff;
  }
}