.ro-Visual#ro-Visual
  .ro-Visual-shape1.ro-Visual-shapeBorder.layer(data-depth='0.20')
  .ro-Visual-shape1.layer(data-depth='0.10')

  .ro-Hero.ro-Hero--availability.is-animated.u-holder.layer(data-depth='0.12')
    h1.ro-Visual-heading.u-title Contact
    p.ro-Hero-header
      span.ro-Hero-heading Available
      br
      span.ro-Hero-subheading for CSS3 and javascript work on a premium project.
    p.ro-Hero-links
      a.ro-Visual-contact(href='mailto:rdorde@gmail.com', data-clipboard-text="rdorde@gmail.com")
        span Contact
        //- span Get email ←
          span.ro-Visual-tooltip 
            span.ro-Visual-defaultMsg Copy to clipboard
            span.ro-Visual-successMsg Copied