.ro-Circle.ro-Circle--1#ro-Circle--1
  .ro-Circle-shape.layer(data-depth='0.20')
  .ro-Circle-shape.ro-Circle-shapeBorder.layer(data-depth='0.10')
.ro-Circle.ro-Circle--2#ro-Circle--2
  .ro-Circle-shape.layer(data-depth='0.80')
  .ro-Circle-shape.ro-Circle-shapeBorder.layer(data-depth='0.70')
.ro-Circle.ro-Circle--3#ro-Circle--3(data-invert-x='false', data-invert-y='false')
  .ro-Circle-shape.layer(data-depth='0.20')
  .ro-Circle-shape.ro-Circle-shapeBorder.layer(data-depth='0.10')