.ro-Circle {
  @include size(256px);
  position: absolute;
  // top: -30px !important;
  // left: 703px !important;
  top: 251px;
  right: 9px;
  z-index: -1;

  [class^='ro-Circle-shape'] {
    position: absolute !important;
    border-radius: 50%;
  } 

  @include media("≥H") {
    display: none;
  }
}

.ro-Circle-shape {
  @include size(256px);
  left: 0 !important;
  top: 0 !important;
  background:  #FF91AF;
  z-index: -2;
  filter: blur(2px);

}

.ro-Circle-shapeBorder {
  @include size(256px);
  filter: hue-rotate(10deg);
}

.ro-Circle--2 {
  @include size(236px);
  top: 407px;
  right: -35px;

  [class^='ro-Circle-shape'] {
    @include size(236px);
    background-color: #fdff91;
  }
}

.ro-Circle--3 {
  top: 571px;
  right: auto;
  left: 25px;

  [class^='ro-Circle-shape'] {
    background-color: #9391ff;
  }
}