.ro-Xp-body {
  // max-width: 478px;
  // padding-top: 17px;
  // padding-top: 23px;
  // padding-bottom: 54px;
  // padding-left: 3px;
  // padding: 23px 23px 54px 3px;
  padding: 23px 19px 18px 3px;
  max-width: 322px;

  @include media("≥C") {
    padding-right: 3px;
  }

  @include media("≥D") {
    column-count: 2;
    column-gap: 26px;  
    max-width: 700px;
    padding: 24px 0 54px 3px;
  }  

  p {
    margin: 0;
    line-height: 2;
    font-size: 14px;
    padding-bottom: 14px;

    @include media("≥E") {
      padding-bottom: 0;
    }
  }
}

.ro-Xp-links {
  padding-left: 0;
  margin-top: 7px;
  animation-delay: 1.2s;
}