section.ro-Xp
  .ro-Xp-body
    //- p Front-end work on clinet 50+ projects (mainly for various U.S. clients). Experience in developing, mentoring, recruiting, leading front-end teams, reviewing code, quality assurance, collaborating with designers, managers and clients. Worked in Ljubljana and San Francisco.

    //- p Front-end work on 50+ projects. Attentive to details. Experience in front-end development, mentorship, recruitment, front-end team leadership, code reviews, quality assurance, collaboration with designers, managers and clients. Worked in Ljubljana and San Francisco.
    //- p Showed up at conferences and meetups across Europe.

    //- p I belive we should question the defaults, shake things up and come as crazy and alive with creativity as we are. There's no pressure because we're build for this. We can not conform.
    //- p I belive we should question the defaults, shake things up and come as crazy with creativity as we are. There's no pressure, we're build for this. We can not and should not conform.
    p I belive we should question the defaults, shake things up and come as crazy with creativity as we are. There's no pressure, we're build for this.
    //- p <s>Only those who fly know why the bird sings.</s> 🙄 
    //- p I hone my craft by constantly absorbing new information, moving in and out of the confort zone, meditating on ideas, playing and creating a ton.
    p I think that a front-end developer should have a sharp eye for detail and feeling for design. I hone my craft by constantly exposing myself to new information, moving in and out of my confort zone, meditating on ideas, playing and creating a ton. 

    //- p I think that a front-end developer should have a keen eye for details and feeling for design. 
    //- p I do front-end development that emphasises the importance of the details. While working on 50+ projects I also got to do mentorship, recruitment, front-end team leadership, code reviews, quality assurance, collaboration with designers. I worked from Ljubljana and San Francisco and showed up at conferences and meetups across Europe.
    //- p I  front-end development that emphasises the importance of the details. 
    p While completing 50+ projects I also did some mentoring, recruiting, leading small front-end teams, code reviews, quality assurance and collaborating with designers on different stages of the project. 
    p I worked from Ljubljana and San Francisco and enjoy showing up at conferences and meetups across Europe.

  //- .ro-Hero-links.ro-Xp-links.is-animated
    a(href='https://www.linkedin.com/in/rdorde/') Linkedin