section.ro-Xp
  .ro-Xp-body
    p I belive we should question the defaults, shake things up and come as crazy with creativity as we are. There's no pressure, we're build for this.
    p I think that a front-end developer should have a sharp eye for detail and feeling for design. I hone my craft by constantly exposing myself to new information, moving in and out of my confort zone, meditating on ideas, playing and creating a ton. 
    p While completing 50+ projects I also did some mentoring, recruiting, leading small front-end teams, code reviews, quality assurance and collaborating with designers on different stages of the project. 
    p I worked from Ljubljana and San Francisco and enjoy showing up at conferences and meetups across Europe.