extends layouts/default

block content
  include modules/Hero/Hero
  include modules/Xp/Xp
  include modules/Work/Work
  include modules/Tools/Tools
  include modules/Visual/Visual
  include modules/Grid/Grid








