.ro-Hero-header {
  // padding-bottom: 3px;
  // max-width: 322px;
  max-width: 288px;

  @include media("≥D") {
    // padding-bottom: 0;
    max-width: none;
  }
}

@keyframes moveIn {
  from { transform: translateY(0px); }
  to { transform: translateY(3px); }
}

.ro-Hero-title {
  top: -37px;
  text-transform: none;
  color: #FF91AF;
//   padding: 0 3px 6px;
//   position: relative;
//   top: 3px;
//   visibility: hidden;

//   &.is-animated {
//     top: 0;
//     animation: moveIn .8s;
//     animation-delay: .2s;
//     animation-fill-mode: forwards;    
//   }
}

// .ro-Hero-tag,
.ro-Hero-heading {
  font-family: 'Abril Fatface', cursive;
  font-size: 57px;
  letter-spacing: 0.01em;
  font-weight: 400;
  margin: 0;
  // line-height: 56px;
  // padding-bottom: 5px;
  line-height: 53px;
  padding-bottom: 2px;

  @include media("≥D") {
    padding-bottom: 0;
  }

  @include media("≥X") {
    line-height: 1.1;
  }  
}

// .ro-Hero-tag {
//   position: absolute;
//   top: 290px;
//   right: 400px;
// }

// .ro-Hero-tagIcon {
//   font-size: 12px;
//   padding-left: 1px;
//   cursor: pointer;
//   filter: blur(0px);
//   transition: filter .5s; 
//   position: relative;

//   &.is-shattered {
//     filter: blur(100px) ;
//   }

//   // for larger hoverable area
//   &:before {
//     content: '';
//     position: absolute;
//     top: -10px;
//     right: -10px;
//     bottom: -10px;
//     left: -10px;
//   }
// }

.ro-Hero-subheading {
  font-family: 'Playfair Display', sans-serif;
  font-size: 16px;
  margin: 3px 4px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: -0.03em;
  line-height: 28px;
  padding-right: 10px;
  display: inline-block;


  @include media("≥X") {
    line-height: 1.5;
    padding-right: 0;
    display: inline;

  }  
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.ro-Hero-links {
  font-size: 12px;
  font-weight: 600;
  padding-left: 3px;
  margin-top: 6px;
  word-spacing: 5px;

  &.is-animated {
    opacity: 0;
    animation: fadeIn 2.4s;
    animation-delay: .7s;
    animation-fill-mode: forwards;    
  }

  @include media("≥D") { 
    margin-top: 4px;
  }

  @include media("≥X") {
    margin-top: 9px;
    word-spacing: normal;
  }
}

.ro-Hero--availability {

  @include media("≥H") {
    display: inline-block;
    padding: 15px 40px;
    margin-left: -219px;
    position: absolute;
    // top: 169px !important;
    // left: 50% !important;
    color: rgba(26, 13, 171, 0.87);
    left: auto !important;
    right: 381px !important;
    top: 179px !important;

    &.is-animated {
      opacity: 0;
      animation: fadeIn 4.8s;
      animation-delay: 1.4s;
      animation-fill-mode: forwards;    
    }
  } 

  .ro-Hero-header {
    margin: 0;
    display: none;

    @include media("≥H") {
      display: block;
    }
  }  

  .ro-Hero-heading {
    text-transform: uppercase;
  }
}