// I use a <div> because I want the headings for the body of the page (not a specific section)
.ro-Hero
  header.ro-Hero-header
    h1.ro-Hero-heading Roland Dordevic
    span.ro-Hero-subheading Front-end developer with attention to detail based in Central Europe
  p.ro-Hero-links
    // Opening the links in a new window so that the visitor doesn't leave the page
    a(href='https://github.com/rdorde?tab=repositories', target='_blank') Github
    | , 
    a(href='http://list.strangeshould.com/', target='_blank') Tumblr
    | , 
    a(href='https://www.linkedin.com/in/rdorde/') Linkedin