section.ro-Work.u-holder
  h1.ro-Work-heading.u-title Select work
  .ro-Work-body
    .ro-Work-content
      .ro-Work-item.is-doubleWidth
        header.ro-Work-itemHeader
          span.ro-Work-company.u-width1
          h2.ro-Work-companyType Mobile app startup in San Francisco
        .ro-Work-companyContent.u-2col
          p
            | Company's website with scrolling to full page sections, SVG animation, customized slider animation and additional CSS3 animations.
          p Website for searching, filtering and viewing API's public data.
          // <p>Administration dashboard for overviewing app's data. React.js web app with Material-UI, Flow, FixedDataTable 2 and d3.js charts.</p>
          // <p>Developers panel for registering a 3rd party apps, getting an API key, setting permissions etc. React.js app with Material-UI and MobX.</p>
          p Template for the emails the app sends.
          p Administration dashboard for overviewing app's data.
          p
            | Developers panel for registering 3rd party apps, getting API keys, setting permissions etc.
        .ro-Visual-shape2
        .ro-Visual-shape3
      .ro-Work-item
        header.ro-Work-itemHeader
          span.ro-Work-company.u-width2
          h2.ro-Work-companyType Web app startup in San Francisco
        .ro-Work-companyContent
          p UI for the large subscription-based app.
          p Templates for the emails the app sends.
          p Startup's website.
        header.ro-Work-itemHeader
          span.ro-Work-company.u-width3
          h2.ro-Work-companyType Non-profit company in San Francisco
        .ro-Work-companyContent
          p Site with 80+ reusable modules and 50+ templates.
        .ro-Visual-shape4
      .ro-Work-item
        header.ro-Work-itemHeader
          span.ro-Work-company.u-width4
          h2.ro-Work-companyType Custom API service provider from San Francisco
        .ro-Work-companyContent
          p Company's homepage that showcases their services. CSS3 feature-heavy UI.
          p Company's website with 30+ custom-design pages.
          p Website for a company's products. 
          p Website for a group the company leads. 
          p Yearly landing page for the event the company host.
        .ro-Visual-shape6
      .ro-Work-item
        header.ro-Work-itemHeader
          span.ro-Work-company.u-width5
          h2.ro-Work-companyType Fortune 500 company
        .ro-Work-companyContent
          p Countdown website to the film's release date.
          p
            | Multilingual media website where the film can be viewed with additional information about the project, characters etc.
        .ro-Visual-shape7
      //
        <div class="ro-Work-item">
        <header class="ro-Work-itemHeader">
        <span class="ro-Work-company">Protected</span>
        <h2 class="ro-Work-companyType"></h2>
        </header>
        <p></p>
        </div>
    .ro-Work-content
      .ro-Work-item.is-doubleWidth
        header.ro-Work-itemHeader
          span.ro-Work-company.u-width6
          span.ro-Work-company.u-width7
          span.ro-Work-company.u-width8
          //- span.ro-Work-company.u-width9
          h2.ro-Work-companyType Misc.
        .ro-Work-companyContent
          p Website upgrades and email newsletters for a San Francisco marketing agency.
          p Landing page for a company with the top 100 Alexa rank.
          p Website for an Inc. 5000 company.
          //- p Product pages for the global leader in their field from Chicago.
        .ro-Visual-shape5