doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='Detail-attentive front-end developer based in Ljubljana. Interested in original, offbeat, creative projects.')
    meta(name='author', content='Roland Dordevic')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // <title>Roland🔥UI</title>
    title Roland🔥UI — a human–device interaction space
    link(rel='apple-touch-icon', href='apple-touch-icon.png')

    // build:css styles/vendor.css
    // bower:css
    //- script(src='/bower_components/normalize-css/normalize.css')
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild

  body    
    block content

    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/clipboard/dist/clipboard.js')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/parallax/deploy/parallax.js')
    //- script(src='/bower_components/bLazy/blazy.js')
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    //- script(src='modules/Visual/Visual.js')
    // endbuild
