#ro-Visual.ro-Visual
  .ro-Visual-shape1.ro-Visual-shape1Border.layer(data-depth='0.20')
  .ro-Visual-shape1.layer(data-depth='0.10')
    a.ro-Hero.ro-Hero--availability.is-animated.layer(href='mailto:rdorde@gmail.com')
      p.ro-Hero-header
        span.ro-Hero-heading AVAILABLE
        br
        // <span class="ro-Hero-subheading">for CSS3 and javascript work on an interesting project.</span>
        span.ro-Hero-subheading for CSS3 and javascript work on a premium project.
      p.ro-Hero-links
        span Contact